# タイムゾーン
TZ=Asia/Tokyo

# PostgreSQL 設定値
POSTGRES_DB=app_db
POSTGRES_USER=admin
POSTGRES_PASSWORD=secure_password_please_change

# Redis 設定値
REDIS_HOST=redis
REDIS_PORT=6379

# ルーティングに使用するドメイン
DOMAIN=app.localhost
