# 共通タイムゾーン
TZ=Asia/Tokyo

# ルーティングに使用するドメイン
# ローカル開発時: app.localhost (hostsファイル編集不要)
# 本番デプロイ時: yourdomain.com などの本番用ドメインを指定
DOMAIN=app.localhost

# 本番環境用：Traefikダッシュボードのベーシック認証設定 (ユーザー名:bcryptハッシュ)
# ローカル時は insecure: true で起動するため、この変数は無視されます。
DASHBOARD_AUTH=admin:$$apr1$$W8J7u6t5$$UjW3nx37829...
